@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Press Start 2P';
}

body {
    background-color: black;
}

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.interface-container {
    position: relative;
    display: inline-block;
}

.interface {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.player1-container, .player2-container {
    position: relative;
    width: 100%;
    border: 4px solid white;
}

.player1-container {
    border-right: none;
}

.player2-container {
    display: flex;
    justify-content: flex-end;
    border-left: none;
}

#player1-health, #player2-health {
    position: absolute;
    background: #818cf8;
    top: 0;
    bottom: 0;
    right: 0;
    transition: width 0.5s;
}

#player1-health {
    left: 0;
}

#player2-health {
    width: 100%;
}

#player1-health-max, #player2-health-max {
    background-color: red;
    height: 30px;
    width: 100%;
}

#timer {
    background-color: black;
    color: white;
    width: 100px;
    height:  50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
}

#time-end {
    position: absolute;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
